<footer class="footer"><span>This is a personal website. Which provides tutorials, web development, and more. 
<br>
<h3>I don't run ads or popups here, so you can support me here</h3>
<span class="fa fa-youtube"><a href="https://m.youtube.com/channel/UCYbCoNjc_H7gsrlLCUJ-1sg"><span style="color: white;" class="fa fa-youtube"></span></a> Youtube</span>
<br>
<span><a href="https://www.buymeacoffee.com/anargya"><span style="color: white;" class="fa fa-coffee"></span></a> Buy Me A Coffee</span>
<br>
<span><a href="https://www.saweria.com/anargya.anubhawa/"><span style="color: white;" class="fa fa-money"></span></a> Saweria</span>
<br>
<span><a href="https://github.com/anargya-anubhawa"><span style="color: white;" class="fa fa-github"></span></a> Github</span>
<br><br>
</footer>
<div class="floating-btn"><span class="fa fa-long-arrow-up"></span></div>