/*- Custom style -*/

// -- Put custom style under this point -- //
#green{
  background-color: #66FF68;
  border: 3px solid #5ECA5F;
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    opacity:0.2;
    background-color: black;
    color: #fff;
    transform: scale(0);
    transition: all .1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}