---
layout: default
---
<article id="post-page">
  <ul style="list-style-type:none;" id="info-post">
    <li><p>Posted date: </p><time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time></li>
    <li>{% include post-categories.html %}</li>
    <li>{% include reading-time.html %}</li>
  </ul>
  
	<h2>{{ page.title }}</h2>		
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{{ content }}
		
	</div>
</article>
<div id="disqus_thread"></div>
<script>
  /*
  var disqus_config = function () {
  this.page.url = {{ site.url | replace: '/', '/' }}{{ page.url | replace:'index.html','' | replace: '/', '' }};  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = /; // Replace PAGE_IDENTIFIER with your page's unique identifier variable.
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement('script');
    s.src = 'https://anargya-anubhawa.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
